@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: 100;
  src: url("./Nexa-ThinItalic.eot");
  src: url("./Nexa-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-ThinItalic.woff2") format("woff2"), url("./Nexa-ThinItalic.woff") format("woff"), url("./Nexa-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: bold;
  src: url("./NexaBold.eot");
  src: url("./NexaBold.eot?#iefix") format("embedded-opentype"), url("./NexaBold.woff2") format("woff2"), url("./NexaBold.woff") format("woff"), url("./NexaBold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: 300;
  src: url("./Nexa-LightItalic.eot");
  src: url("./Nexa-LightItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-LightItalic.woff2") format("woff2"), url("./Nexa-LightItalic.woff") format("woff"), url("./Nexa-LightItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 300;
  src: url("./Nexa-Light.eot");
  src: url("./Nexa-Light.eot?#iefix") format("embedded-opentype"), url("./Nexa-Light.woff2") format("woff2"), url("./Nexa-Light.woff") format("woff"), url("./Nexa-Light.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 100;
  src: url("./Nexa-Thin.eot");
  src: url("./Nexa-Thin.eot?#iefix") format("embedded-opentype"), url("./Nexa-Thin.woff2") format("woff2"), url("./Nexa-Thin.woff") format("woff"), url("./Nexa-Thin.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: 800;
  src: url("./Nexa-XBoldItalic.eot");
  src: url("./Nexa-XBoldItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-XBoldItalic.woff2") format("woff2"), url("./Nexa-XBoldItalic.woff") format("woff"), url("./Nexa-XBoldItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 900;
  src: url("./Nexa-Black.eot");
  src: url("./Nexa-Black.eot?#iefix") format("embedded-opentype"), url("./Nexa-Black.woff2") format("woff2"), url("./Nexa-Black.woff") format("woff"), url("./Nexa-Black.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: normal;
  src: url("./Nexa-BookItalic.eot");
  src: url("./Nexa-BookItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-BookItalic.woff2") format("woff2"), url("./Nexa-BookItalic.woff") format("woff"), url("./Nexa-BookItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: 900;
  src: url("./Nexa-HeavyItalic.eot");
  src: url("./Nexa-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-HeavyItalic.woff2") format("woff2"), url("./Nexa-HeavyItalic.woff") format("woff"), url("./Nexa-HeavyItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: bold;
  src: url("./Nexa-BoldItalic.eot");
  src: url("./Nexa-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-BoldItalic.woff2") format("woff2"), url("./Nexa-BoldItalic.woff") format("woff"), url("./Nexa-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: normal;
  src: url("./Nexa-Regular.eot");
  src: url("./Nexa-Regular.eot?#iefix") format("embedded-opentype"), url("./Nexa-Regular.woff2") format("woff2"), url("./Nexa-Regular.woff") format("woff"), url("./Nexa-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: normal;
  src: url("./Nexa-Book.eot");
  src: url("./Nexa-Book.eot?#iefix") format("embedded-opentype"), url("./Nexa-Book.woff2") format("woff2"), url("./Nexa-Book.woff") format("woff"), url("./Nexa-Book.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: normal;
  src: url("./Nexa-RegularItalic.eot");
  src: url("./Nexa-RegularItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-RegularItalic.woff2") format("woff2"), url("./Nexa-RegularItalic.woff") format("woff"), url("./Nexa-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 300;
  src: url("./NexaLight.eot");
  src: url("./NexaLight.eot?#iefix") format("embedded-opentype"), url("./NexaLight.woff2") format("woff2"), url("./NexaLight.woff") format("woff"), url("./NexaLight.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 900;
  src: url("./Nexa-Heavy.eot");
  src: url("./Nexa-Heavy.eot?#iefix") format("embedded-opentype"), url("./Nexa-Heavy.woff2") format("woff2"), url("./Nexa-Heavy.woff") format("woff"), url("./Nexa-Heavy.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: bold;
  src: url("./Nexa-Bold.eot");
  src: url("./Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("./Nexa-Bold.woff2") format("woff2"), url("./Nexa-Bold.woff") format("woff"), url("./Nexa-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: italic;
  font-weight: 900;
  src: url("./Nexa-BlackItalic.eot");
  src: url("./Nexa-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./Nexa-BlackItalic.woff2") format("woff2"), url("./Nexa-BlackItalic.woff") format("woff"), url("./Nexa-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Nexa";
  font-style: normal;
  font-weight: 800;
  src: url("./Nexa-XBold.eot");
  src: url("./Nexa-XBold.eot?#iefix") format("embedded-opentype"), url("./Nexa-XBold.woff2") format("woff2"), url("./Nexa-XBold.woff") format("woff"), url("./Nexa-XBold.ttf") format("truetype");
}

