html {
  overflow-x: hidden;
  @include transition;

}

body {
  background: #F6F7F7;
  color: $color-text;
  overflow-x: hidden;
  width: 100vw;
  @include transition;
  & > * {
    position: relative;
  }
}

main {
  flex-grow: 1;
}

[data-grid-colums="100%"] {
  grid-column: 1/-1;
}

@include desktop {
  [data-hidden-desktop] {
    display: none;
  }
}

@include mobile {
  [data-hidden-mobile] {
    display: none;
  }
}
