$xxs: 450px;
$xs: 576px;
$sm: 768px;
$md: 1024px;
$lg: 1440px;
$lgg: 1920px;

@mixin hover{
  @media (min-width: $md + 1) {
    &:hover {
      @content;
    }
  }
}

@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}


@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $xs) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: $xxs) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $md + 1) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $md) {
    @content;
  }
}
