$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$defaultFont: (
  fontSize:16px,
  fontWeight: 300,
  lineHeight: 1em,
  letterSpacing: 0em,
  color: #707070,
);
$font-family: "Nexa";
$padding-container: 14.11vw;
$padding-mobile: 8vw;
$internal-padding: 8.33vw;
$color-primary: #ED9296;
$color-secondary: #000000;
$color-text: #747474;
$transition: .5s;
$layoutWidth: 1920px;
$padding-header: 15rem;
$padding-header-mobile: 82px;
